localisationParameters.json
fibrils_NileRed_50ms_0_localisations.txt
fibrils_NileRed_50ms_0_results.mat
fibrils_NileRed_50ms_1_localisations.txt
fibrils_NileRed_50ms_1_results.mat
fibrils_NileRed_50ms_2_localisations.txt
fibrils_NileRed_50ms_2_results.mat
fibrils_NileRed_50ms_3_localisations.txt
fibrils_NileRed_50ms_3_results.mat
fibrils_NileRed_50ms_4_localisations.txt
fibrils_NileRed_50ms_4_results.mat