polCAM/docs/samples/fibrils/localisations.txt
polCAM/docs/samples/fibrils/results.mat
polCAM/docs/samples/fibrils/results_filtered.mat
polCAM/docs/samples/fibrils/results_filtered_filtered.mat
localisationParameters.json
batchProcessingTable.txt
