polCAM/docs/samples/fibrils/localisations.txt
polCAM/docs/samples/fibrils/results.mat
polCAM/docs/samples/fibrils/results_filtered.mat
polCAM/docs/samples/fibrils/results_filtered_filtered.mat
localisationParameters.json
batchProcessingTable.txt
fibrils_NileRed_50ms_0_localisations.txt
fibrils_NileRed_50ms_0_results.mat
fibrils_NileRed_50ms_1_localisations.txt
fibrils_NileRed_50ms_1_results.mat
fibrils_NileRed_50ms_2_localisations.txt
fibrils_NileRed_50ms_2_results.mat
fibrils_NileRed_50ms_3_localisations.txt
fibrils_NileRed_50ms_3_results.mat
fibrils_NileRed_50ms_4_localisations.txt
fibrils_NileRed_50ms_4_results.mat
getOrderedImageFilelist.asv
settings.json
fibrils_NileRed_50ms_4_results_filtered.mat
fibrils_NileRed_50ms_0_results_filtered.mat
fibrils_NileRed_50ms_2_results_filtered.mat
writeJsonFile.asv
fibrils_NileRed_50ms_1_results_filtered.mat
polCAM/docs/samples/fibrils/fibrils_NileRed_50ms_0_channels_frame1.png
